* {
    margin: 0;
    padding: 0;
}

nav {
    border-bottom: 1px solid black;
    height: 50px;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 12px 0 12px;
    height: 50px;
}

nav li:first-child {
    margin-right: auto;
}

nav li:nth-child(2) {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 8px;
}

.logo {
    height: 25px;
}

.menu {
    height: 30px;
}

.profile-wrapper {
    background-color: rgb(216, 216, 216);
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.sideBar{
    background-color: #111;
    height: 100%;
    position: fixed;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    width: 0;
}

.sideBar.open {
    width: 250px;
    transition: width 0.5s ease-in-out;
}