* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

/* NAVBAR */
nav {
    border-bottom: 1px solid black;
    height: 50px;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 12px;
}

nav li:first-child {
    margin-right: auto;
}

.menu {
    height: 30px;
    cursor: pointer;
    margin-left: 20px;
}

.logo {
    height: 25px;
}

.profile-wrapper {
    background: #ddd;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* SIDEBAR */
.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0;
    background: #1d003c;
    overflow: hidden;
    transition: 0.3s;
    z-index: 999;
    display: flex;
    flex-direction: column;
}

.sideBar.open {
    width: 250px;
}

/* Desktop: always open */
@media (min-width:750px) {
    .sideBar {
        width: 250px;
    }

    #menu {
        display: none;
    }

    #cross {
        display: none;
    }

    .highlights p {
    animation: scroll 30s linear infinite;
}
}

/* ITEMS */
.items {
    padding: 18px 20px;
    border-bottom: 1px solid #333;
    color: white;
}

.item1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-in-sideBar {
    height: 40px;
}

#cross {
    cursor: pointer;
}

.sideBar a {
    text-decoration: none;
    color: white;
}

.sideBar a:hover {
    background: #400085;
}

.h1 {
    transition: 0.3s;
}

.sideBar a:hover .h1 {
    transform: translateX(20px);
}

/* CONTACT */
.item8 span {
    display: flex;
    align-items: center;
}

.t1 {
    background: violet;
    padding: 5px;
    border-radius: 50%;
}

.t2 {
    margin-left: 10px;
}

.t1.lastTwo {
    background: transparent;
}

.items img {
    height: 20px;
}

/* HIGHLIGHTS ANIMATION */
.highlights {
    overflow: hidden;
    white-space: nowrap;
    padding: 20px 0 40px 0;
}

.highlights p {
    display: inline-block;
    animation: scroll 10s linear infinite;
    width: 100%;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

/* MAIN */
main {
    padding: 10px;
}

@media (min-width:750px) {
    main {
        padding-left: 260px;
    }
}

.announcement {
    background: linear-gradient(rgb(0, 170, 255) 50%,rgb(0, 0, 255));
    height: 100px;
}

.myPhoto{
    height: 100px;
    margin: 20px 0 20px 0;
}

.myPhoto-wrapper{
    display: flex;
    justify-self: center;
}

